.main-image-container {

    width: 1000px;
    background-color: blue;
    position: relative;
}

.main-image-container>img {
    width: 100%;
    height: auto;
}

.correct-alert {

    color: limegreen;
    font-size: 1.1em;
    transition: all .5s ease-in-out;

}


.fade {

    color: black;
    font-size: 1em;
    transition: all .5s;

}


